body {
    font-family: "Roboto", sans-serif;
}

.page-title {

    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter: 3%;}

.pointer {
    cursor: pointer;
    color: rgba(77, 90, 229, 1);
    background-color: rgba(231, 233, 252, 1);
}

.pointer:hover {
    color: white;
    background-color: rgba(64, 75, 191, 1);
}


.color-navb {
    color: rgba(46, 47, 66, 1);
}

.color-slate {
    color: rgba(67, 68, 85, 1);
}

.color-iris {
    color: rgba(77, 90, 229, 1);
}
