body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    text-decoration: none;
}

:root {
    --navy-blue: #2e2f42;
    --iris: #4d5ae5;
    --slate: #434455;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --ocean: #404bbf;

}

.navigation-items .navigation-item {
    font-size: 16px;
    line-height: 1.5;
    color: var(--navy-blue);
    text-decoration: none;
    font-weight: 500;
}

.navigation-item:hover {
    color: #404BBF;
}

.navigation-contacts .navigation-contact {
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
    text-decoration: none;
}

.navigation-contact:hover {
    color: #404BBF;
}

.page-title {

    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
    color: rgba(77, 90, 229, 1);
    background-color: rgba(231, 233, 252, 1);
    font-weight: 500;
    line-height: 1.5;
}

.pointer:hover {
    color: white;
    background-color: rgba(64, 75, 191, 1);
}

.pointer-index {
    cursor: pointer;
    color: white;
    background-color: rgba(77, 90, 229, 1);
    font-weight: 500;
}

.pointer-index:hover {
    background-color: #404BBF;
}

.color-iris {
    color: rgba(77, 90, 229, 1);
}

.color-navb {
    color: rgba(46, 47, 66, 1);
}

.color-slate {
    color: rgba(67, 68, 85, 1);
}

.color-cloud {
    color: var(--cloud);
}

.title-index {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    color: white;
}

.index-background {
    background-color: var(--navy-blue);
}

.h3-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
}

.h2-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--navy-blue);
}

.p-footer {
    font-size: 16px;
    line-height: 1.5;
    color: var(--cloud);
}